/*
    Layout
    ├── Head
    ├── Header
    └── Footer 
        └── Icons           
*/

/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
    --accent-color: #7389f4;
    --border-color: #7389f4;
    --font-color: rgb(255, 255, 255);
    --default-width: 50%;
}

@media (max-width: 	600px) {
    :root {
        --default-width: 90%;
    }
}

#divide-color {border-color:var(--border-color);}

/* Header */
header {color: var(--font-color);}

#header-title:hover {color: var(--accent-color);}
    
#pages-link {margin-left: 2rem;}
#pages-link:hover {color: var(--accent-color);}

/* Main */
#main-div{
    color: var(--font-color);
    width: var(--default-width);
}

.hover-shadow:hover {box-shadow: 0px 0px 8px var(--accent-color);} 

/* Main:Index */
#header-tag {font-size: 2rem;}

/* Projects */
#miguel-tag {color: #D8C787;}

/* Footer */
footer {color: var(--font-color);}

#github-repo {color: var(--accent-color);}
#github-repo:hover {color: var(--font-color);}

#social-link:hover {color: var(--accent-color);} /* Social links */

