@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-color: black;
    color:white;
    padding:1rem;
}
main {
    background-color: rgb(43, 42, 42);
}
.flex-container {
    /* Align items to the left and right; Vertically center items within the contain; add padding to the containg*/
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 1rem;                     /*padding/margin: <top> <right> <bottom> <left>*/
}
#header-title:hover {
    color: #96AA91; 
}
nav a {
    /*Removes the nav to the left; removes the underline*/
    margin-left: 2rem;
    text-decoration: none;
    color: white;
}
nav a:hover {
    /* Change color on hover */
    color: #96AA91; 
}

footer {
    background-color:black;
    color:white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

