---
// Components Imports
import Layout from "../layouts/Layout.astro"
---
<Layout title="&res Perez's Home Page">
    <div slot="main" class="bg-zinc-800 text-white p-4 min-h-svh bg-cover flex justify-center items-center">
        <div class="flex flex-col items-center rounded-md border-gray-500 border-2 w-1/2 p-2 hover-shadow">
            <div>
                <h1 class="text-center">Welcome!</h1>
            </div>
            <div>
                <img src ="/PFP.jpg" alt="Placeholder image until I get a professional one." class="rounded-lg shadow-lg ">
            </div>
            <div>
                <p class="indent-8">
                    I am <strong>Andres Perez</strong>, an incoming freshman at the University of Notre Dame, studying engineering!
                    Thoughout high school, I have been exposed to different aspects of S.T.E.M. Ranging from undergradate           
                    maths to computer programming. While I am still figuring out which path to pursue within the field,             
                    I am interested in learning more about robotics, electronics, programming, and beyond!                          
                    <br><br>
                </p>
                <p class="indent-8">
                    I have experience working as a student tutor during my junior and senior years, leading and             
                    managing the engineering design process as Build Lead and Captain in VEX Robotics, and collaborating    
                    with a team to design and produce a prototype of a smart walker as part of an InvenTeam. Through these  
                    experiences, I have developed soft skills such as leadership, adaptability, and problem-solving, as     
                    well as hard skills including soldering, computer-aided design, and programming. (And now with this     
                    portfolio the basics of website development!)                                                           
                    <br><br>
                </p>
                <p class="indent-8">
                    In my free time (like this summer!), I like to spend my time trying to be productive and work towards   
                    my goals whether it be reviewing mathematics, studying the beginnings of computer architecture, or      
                    making this website! Additionally, I love to exercise via calisthenics and the weight I may or may not  
                    have taken from my sister. With my guilty pleasure of playing Valorant and Chess way too much despite  
                    being bad at both.
                </p>
            </div>
        </div>
    </div>
</Layout>
