---
// Components Imports
import Layout from "../layouts/Layout.astro"
---

<Layout title="&res Perez's Home Page">
    <div class="bg-black text-white min-h-screen">
        <p>
            why hello there nathan, this astro and tailwind css is a lot of information but it's mangable; also look i scuffed a <strong>logo</strong>.
        </p>
    </div>
</Layout>

<style>

</style>