---
// Components Imports
import Layout from "../layouts/Layout.astro"
---
<Layout title="&res Perez's Home Page">
    <div slot="main" class="bg-blue-950">
        <p>home_page</p>
    </div>
</Layout>
