---
// Components Imports
import Layout from "../layouts/Layout.astro"
---
<Layout title="Home - Andres Perez">
    <div slot="main" class="bg-zinc-800 h-fit bg-cover flex flex-row justify-center items-center">
        <div id="main-div" class="m-0 p-0">
            <div id="hero-section" class="flex flex-col items-center rounded-md border-2 w-auto mx-4 my-4 p-2 hover-shadow">
                <div id="title-div">
                    <h1 id="header-tag" class="text-center">Welcome</h1>
                </div>
                <div id="main-image">
                    <img src="/brand/PFP.jpg" alt="Placeholder image until I get a professional one." class="rounded-lg shadow-lg ">
                </div>
                <div id="main-text" class="indent-8 break-words">
                    <p>
                        Hello! I am Andres Perez, a first generation Mexican-American freshman at the University of Notre Dame studying Computer Engineering. 
                        During high school, I was exposed to various aspects of S.T.E.M ranging from undergraduate mathematics to computer programming. 
                        While I am dedicated to learning Computer Engineering, I am eager to explore the different branches of the field. 
                        My current interests are robotics, electronics, and programming, but I am always ready to learn other fields.                          
                        <br><br>
                    </p>
                    <p>
                        I have experience working as a student tutor during my junior and senior years, leading and             
                        managing the engineering design process as Build Lead and Team Captain in VEX Robotics, and collaborating    
                        with a team to design and produce a prototype of a smart walker as part of an InvenTeam. Through these  
                        experiences, I have developed soft skills such as leadership, adaptability, and problem-solving, as     
                        well as hard skills including soldering, computer-aided design, and programming. (And now with this     
                        portfolio the basics of website development!)                                                           
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>
