---
// Components Imports
import Layout from "../layouts/Layout.astro"

import {Icon} from 'astro-icon/components';

const currentYear = new Date().getFullYear();
---
<Layout title="&res Perez's Home Page">
    <body>
        <div slot="main">
            <p>home_page</p>
        </div>
        <div slot="footer">
            <div>
                Made with Astro and TailwindCSS.
            </div>
            <div id="trademark">@ Andres Perez 2024 - {currentYear}</div>
            <ul id="social-links">
                <li><a  id="github-page" href="#">Github</a></li>
                <li><a  id="linkedin-page" href="#">Linkedin</a></li>
                <li><a  id="instagram-page" href="#">Instagram</a></li>
            </ul>

        </div>
    </body>
</Layout>
