---
// Components Imports
import Layout from "../layouts/Layout.astro"

import {Icon} from 'astro-icon/components';

const currentYear = new Date().getFullYear();
---
<Layout title="&res Perez's Home Page">
    <body>
        <div slot="main">
            <p>home_page</p>
            <Icon name="mdi:discord" href="https://github.com/Reaper3629"></Icon>
            <Icon name="mdi:github"></Icon>
            <Icon name="mdi:instagram"></Icon>
            <Icon name="mdi:linkedin"></Icon>
        </div>
        

        <div slot="footer" class = "flex-container justify-between items-center border border-gray-500 p-4">
            <div id="trademark" class="flex-1 text-center">
                Made with Astro and TailwindCSS. @ Andres Perez 2024 - {currentYear}
            </div>
            <div class="icons flex items-center space-x-4">
                <Icon name="mdi:discord" href="https://github.com/Reaper3629"></Icon>
            </div>
        </div>
    </body>
</Layout>
