---
// Components Imports
import Layout from "../layouts/Layout.astro"
---

<Layout title="Projects">
    <body>
        <div slot="main" class="bg-zinc-800 h-fit bg-cover flex flex-row justify-center items-center">
            <div id="main-div" class="m-0 p-0">
                <div id="intro-div" class="flex flex-col rounded-md border-2 w-auto mx-4 my-4 p-2 hover-shadow">
                    <div>
                        <h1 id="header-tag" class="text-center">Projects</h1>
                    </div>
                    <div class="indent-8 break-words">
                        <p>
                            Hello! Welcome again! I knew that going into university, I would need to be prepared for the new challenges 
                            and developments I would encounter. So, I thought it would be a fun venture to learn how to make a website 
                            to track and document the projects I want to do. I was also inspired to start this after seeing how amazing my 
                            friend <a id="miguel-tag" href="https://github.com/Kaweees">Miguel VF</a>'s <a id="miguel-tag" href="https://miguelvf.dev/">website</a> looked!
                            <br><br>
                        </p>
                        <p>
                            So below are some notable things I've built or helped built. (*note: I am only really starting out so it may be
                            quite barren for a while.) 
                        </p>
                    </div>
                </div>
                <div id="VEX-div" class="flex flex-col rounded-md border-2 w-auto mx-4 my-4 p-2 hover-shadow">
                    <div>
                        <h1 id="header-tag" class="text-center">VEX Robotics 🤖</h1>
                    </div>
                    <div id="sub-header-tag" class="flex justify-between p-1 text-sm">
                        <h3>
                            California Academy of Math & Science
                        </h3>
                        <h3>
                            Aug. 2021 - Oct. 2023
                        </h3>
                    </div>
                    <div id="VEX-project-tag" class="indent-8 break-words">
                        VEX Robotics has been the largest influence in my decision to pursue engineering. I was part of the 687B Nerd Herd! 
                        VEX was my first experience with a STEM curriculum, where I started on the mechanical team. 
                        Here, I learned about the engineering design process, CAD software like Fusion 360, and mechanical assembly.
                        Eventually, I was promoted to captain of my team, and along with my co-captain, we led a team of 12. We hosted meetings,
                        tracked participation, and continuously worked to improve our design and code for competitions.
                        <br><br>
                    </div>
                    <div class="indent-8 break-words">
                        This was a life-changing experience that shifted my focus toward engineering and taught me to give my all to my projects. <br><br>
                    </div>
                    <div class="indent-8 break-words">
                        Skills: Programming:C++; CAD:Fusion 360
                    </div>
                    <div class="indent-8 break-words">
                        Awards: Excellence:State Qualifer; Innovate:State Qualifer; Design; Judges
                        <br><br>
                        (the images below are slides; Please take a swipe!)
                    </div>
                    <section class="container">
                        <div class="slider-wrapper">
                            <div class="slider">
                                <img id="slide-1" src="/projects/VEX/VEXPhoto1.jpg" alt="">
                                <img id="slide-2" src="/projects/VEX/VEXPhoto2.png" alt="">
                                <img id="slide-3" src="/projects/VEX/VEXPhoto3.png" alt="">
                                <img id="slide-4" src="/projects/VEX/VEXPhoto4.png" alt="">
                                <img id="slide-5" src="/projects/VEX/VEXPhoto5.png" alt="">
                                <img id="slide-6" src="/projects/VEX/VEXPhoto6.png" alt="">
                                <img id="slide-7" src="/projects/VEX/VEXPhoto7.jpg" alt="">
                                <img id="slide-8" src="/projects/VEX/VEXPhoto8.jpg" alt="">
                            </div>
                            <div class="slide-nav">
                                <a href="#slide-1"></a>
                                <a href="#slide-2"></a>
                                <a href="#slide-3"></a>
                                <a href="#slide-4"></a>
                                <a href="#slide-5"></a>
                                <a href="#slide-6"></a>
                                <a href="#slide-7"></a>
                                <a href="#slide-8"></a>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="InvenTeam-div" class="flex flex-col rounded-md border-2 w-auto mx-4 my-4 p-2 hover-shadow">
                    <div>
                        <h1 id="header-tag" class="text-center">MIT InvenTeam 🦞</h1>
                    </div>
                    <div class="indent-8 break-words">
                        <p>
                            Work in progress ...
                        </p>
                    </div>
                    <section class="container">
                        <div class="slider-wrapper">
                            <div class="slider">
                                <img id="slide-1" src="/projects/InvenTeam/InventPhoto1.jpg" alt="">
                                <img id="slide-2" src="/projects/InvenTeam/InventPhoto2.jpg" alt="">
                                <img id="slide-3" src="/projects/InvenTeam/InventPhoto3.jpg" alt="">
                                <img id="slide-4" src="/projects/InvenTeam/InventPhoto4.jpg" alt="">
                                <img id="slide-5" src="/projects/InvenTeam/InventPhoto5.jpg" alt="">
                            </div>
                            <div class="slide-nav">
                                <a href="#slide-1"></a>
                                <a href="#slide-2"></a>
                                <a href="#slide-3"></a>
                                <a href="#slide-4"></a>
                                <a href="#slide-5"></a>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="CARPA-div" class="flex flex-col rounded-md border-2 w-auto mx-4 my-4 p-2 hover-shadow">
                    <div>
                        <h1 id="header-tag" class="text-center">CARPA Racing Team 🏎️</h1>
                    </div>
                    <div class="indent-8 break-words">
                        <p>
                            Work in progress ...
                        </p>
                        <section class="container">
                            <div class="slider-wrapper">
                                <div class="slider">
                                    <img id="slide-1" src="/projects/CARPA/CARPAPhoto1.jpg" alt="">
                                    <img id="slide-2" src="/projects/CARPA/CARPAPhoto2.jpg" alt="">
                                    <img id="slide-3" src="/projects/CARPA/CARPAPhoto3.jpg" alt="">
                                    <img id="slide-4" src="/projects/CARPA/CARPAPhoto4.jpg" alt="">
                                    <img id="slide-5" src="/projects/CARPA/CARPAPhoto5.jpg" alt="">
                                    <img id="slide-6" src="/projects/CARPA/CARPAPhoto6.jpg" alt="">
                                </div>
                                <div class="slide-nav">
                                    <a href="#slide-1"></a>
                                    <a href="#slide-2"></a>
                                    <a href="#slide-3"></a>
                                    <a href="#slide-4"></a>
                                    <a href="#slide-5"></a>
                                    <a href="#slide-6"></a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div id="EDD-div" class="flex flex-col rounded-md border-2 w-auto mx-4 my-4 p-2 hover-shadow">
                    <div>
                        <h1 id="header-tag" class="text-center">Engineering Design & Development 🔧</h1>
                    </div>
                    <div id="sub-header-tag" class="flex justify-between p-1 text-sm">
                        <h3>
                            California Academy of Math & Science
                        </h3>
                        <h3>
                            Aug. 2023 - Jun. 2024
                        </h3>
                    </div>
                    <div class="indent-8 break-words">
                        For my engineering design project class, we were tasked with designing and building a semi-autonomous suite of robotic mechanisms for use in exploring hazardous environments.

                        To approach this, we broke the problem down into multiple components, and I joined the module group. In this group, I worked on the electrical aspects of the modules, where I learned soldering.

                        For the actual modules, we decided to use an ESP-32 microcontroller with high-torque micro gear motors. We also included other components, such as a magnetic encoder, MOSFETs, and a TB6612FNG dual 
                        motor driver carrier.
                        <br><br>
                    </div>
                    <div class="indent-8 break-words">
                        Skills: Soldering; Electronics
                        <br><br>
                        (the images below are slides; Please take a swipe!)
                    </div>
                    <section class="container">
                        <div class="slider-wrapper">
                            <div class="slider">
                                <img id="slide-1" src="/projects/EDD/EDDPhoto1.jpg" alt="Final EDD Module Completed">
                                <img id="slide-2" src="/projects/EDD/EDDPhoto2.jpg" alt="Final EDD Module Completed; Far View">
                                <img id="slide-3" src="/projects/EDD/EDDPhoto3.jpg" alt="EDD-Borrow Home Soldering Set Up">
                                <img id="slide-4" src="/projects/EDD/EDDPhoto4.jpg" alt="Work Bench">
                                <img id="slide-5" src="/projects/EDD/EDDPhoto5.jpg" alt="">
                                <img id="slide-6" src="/projects/EDD/EDDPhoto6.jpg" alt="">
                                <img id="slide-7" src="/projects/EDD/EDDPhoto7.jpg" alt="">
                            </div>
                            <div class="slide-nav">
                                <a href="#slide-1"></a>
                                <a href="#slide-2"></a>
                                <a href="#slide-3"></a>
                                <a href="#slide-4"></a>
                                <a href="#slide-5"></a>
                                <a href="#slide-6"></a>
                                <a href="#slide-7"></a>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="website-div" class="flex flex-col rounded-md border-2 w-auto mx-4 my-4 p-2 hover-shadow">
                    <div>
                        <h1 id="header-tag" class="text-center">This Website! 💻</h1>
                    </div>
                    <div id="sub-header-tag" class="flex justify-between p-1 text-sm">
                        <h3>
                            Personal Project
                        </h3>
                        <h3>
                            July. 2024 - Present
                        </h3>
                    </div>
                    <div class="indent-8 break-words">
                        This is my most recent project (at the time of writing this). Regardless, it is my first actual software project, and in all 
                        honesty, it's been pretty fun learning HTML and CSS with bits of JavaScript. I'm still a novice when it comes to frameworks, 
                        but I'd say utilized Astro and Tailwind CSS to a successful degree. The source code is linked <a id="github-repo" href="https://github.com/Reaper3629/Reaper3629.github.io">here</a> and below, and I do recommend 
                        people try making their own websites. It gives you a better idea of how other websites are structured and provides a 
                        platform to constantly iterate on and watch develop. As of writing this, I know it's a bit simplistic, but I am excited to 
                        explore other avenues of website development and see how I can update this site!
                    </div>
                </div>
                <div id="PIG-div" class="flex flex-col rounded-md border-2 w-auto mx-4 my-4 p-2 hover-shadow">
                    <div>
                        <h1 id="header-tag" class="text-center">Phineas-Ignatius-Grant 🐷</h1>
                    </div>
                    <div class="indent-8 break-words">
                        <p>
                            Work in progress ...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</Layout>

<style>
    .container {
        padding: 2rem;
    }
    .slider-wrapper{
        position: relative;
        max-width: 48rem;
        margin: 0 auto;
    }
    .slider{
        display: flex;
        aspect-ratio: 16/9;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
        border-radius: 0.5rem;
    }
    .slider img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
    }
    .slider-nav {
        display: flex;
        column-gap: 1rem;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .slider-nav a {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.75;
        transition: opacity ease 250ms;
    }
    .slider-nav a:hover{
       opacity: 1; 
    }
</style>