---
// Components Imports
import Layout from "../layouts/Layout.astro"
---

<Layout title="Projects">
    <body>
        <div slot="main" class="bg-zinc-800 h-svh bg-cover flex flex-row justify-center items-center">
            <div id="main-div" class="m-0 p-0 w-1/2">
                <div id="intro-div" class="flex flex-col rounded-md border-2 w-auto mx-4 my-4 p-2 hover-shadow">
                    <div>
                        <h1 id="header-tag" class="text-center">Projects</h1>
                    </div>
                    <div class="indent-8 break-words">
                        <p>
                            Hello! Welcome again! I knew that going into university, I would need to be prepared for the new challenges 
                            and developments I would encounter. So, I thought it would be a fun venture to learn how to make a website 
                            to track and document the projects I want to do. I was inspired to start this after seeing how amazing my 
                            friend <a id="miguel-tag" href="https://github.com/Kaweees">Miguel VF</a>'s <a id="miguel-tag" href="https://miguelvf.dev/">website</a> looked!
                            <br><br>
                        </p>
                        <p>
                            So below are some notable things I've built or helped built. (*note: I am only really starting out so it may be
                            quite barren for a while.) 
                        </p>
                    </div>
                </div>
                <div id="VEX-div" class="flex flex-col rounded-md border-2 w-auto mx-4 my-4 p-2 hover-shadow">
                    <div>
                        <h1 id="header-tag" class="text-center">VEX Robotics 🤖</h1>
                    </div>
                    <div class="indent-8 break-words">
                        Coming soon ...
                    </div>
                </div>
                <div id="EDD-div" class="flex flex-col rounded-md border-2 w-auto mx-4 my-4 p-2 hover-shadow">
                    <div>
                        <h1 id="header-tag" class="text-center">Engineering Design & Development 🔧</h1>
                    </div>
                    <div class="indent-8 break-words">
                        Coming soon ...
                    </div>
                </div>
                <div id="website-div" class="flex flex-col rounded-md border-2 w-auto mx-4 my-4 p-2 hover-shadow">
                    <div>
                        <h1 id="header-tag" class="text-center">This Website! 💻</h1>
                    </div>
                    <div class="indent-8 break-words">
                        Coming soon ...
                    </div>
                </div>
            </div>
        </div>
    </body>
</Layout>
