---
// Components Imports
import Layout from "../layouts/Layout.astro"
---

<Layout title="Projects">
    <body>
        <div slot="main">
            <p>project_page</p>
        </div>
    </body>
</Layout>
