---
// Components Imports
import Layout from "../layouts/Layout.astro"
---

<Layout title="Resume - Andres Perez">
    <body>
        <div slot="main" class="bg-zinc-800 text-white h-screen bg-cover flex flex-col items-center">
            <div id="main-div" class="mx-4 my-4 p-2 w-full h-full">
                <iframe id="resume-pdf" src="/resume/AndresPerezResume.pdf" class="w-full h-full" title="Andres Perez's Resume"></iframe>
            </div>
        </div>
    </body>
</Layout>
