---
// Components Imports
import Layout from "../layouts/Layout.astro"
---

<Layout title="Resume">
    <body>
        <div slot="main">
            <p>resume_doc</p>
        </div>
    </body>
</Layout>
