---
import {Icon} from 'astro-icon/components';

const {currentYear} = Astro.props;
---

<footer class="bg-zinc-900 bottom-0 left-0 w-full flex justify-between items-center p-4">
    <div id="trademark"class="flex-1 text-center font-thin">
        Made with Astro and TailwindCSS. Check out the <a id="github-repo" href="https://github.com/andres-perez0/andres-perez0.github.io">Github</a> here. @Andres Perez 2024-{currentYear}
    </div>
    <!-- Social Links -->
    <nav class="icons flex items-center space-x-4">
        <a id="social-link" href="https://github.com/andres-perez0/"                    class="inline-block"><Icon name="mdi:github"    size={30}></Icon></a>
        <a id="social-link" href="https://www.linkedin.com/in/andres-perez0/"       class="inline-block"><Icon name="mdi:linkedin"  size={30}></Icon></a>
        <a id="social-link" href="https://www.instagram.com/chitoperez1990/"        class="inline-block"><Icon name="mdi:instagram" size={30}></Icon></a>
        <a id="social-link" href="https://discordapp.com/users/659599215101476874"  class="inline-block"><Icon name="mdi:discord"   size={30}></Icon></a>
    </nav>
</footer>