<header class="flex justify-between items-center border border-gray-500 p-4">
    <h1 id="header-title">&res Perez</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
      <a href="/projects">Projects</a>
      <a href="/resume">Resume</a>
    </nav>
</header>