---
import Head from './Head.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';

import '../styles/Base.css';

// Defines new interfaces that indicates 'title' and 'description' are option (?) and are strings
interface Props {
  title?: string;
  description?: string;
}

const {title="Work In Progress", description="Computer Engineering Freshmen at the University of Notre Dame, exploring focuses in roboitcs and PCB design"} = Astro.props as Props;
const currentYear = new Date().getFullYear();
---

<html lang="en">
  <Head {title} {description}/>
  <body class="divide-y divide-color">
    <Header/>
    <main>
      <slot name="main">default text</slot>
    </main>
    <Footer {currentYear}/>
  </body>
</html>