---
import Head from './Head.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';

import '../styles/Base.css';

interface Props {
  title?: string;
  description?: string;
}

const {title="Work In Progress", description="Work In Progress"} = Astro.props as Props;
const currentYear = new Date().getFullYear();
---

<html lang="en">
  <Head {title} {description}/>
  <body>
    <Header/>
    <main>
      <slot name="main">default text</slot>
    </main>
    <Footer {currentYear}/>
  </body>
</html>